############################
# BACKEND (SPRING BOOT)
############################

target/
*.class
*.log
*.jar
*.war

# Maven wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse / STS
.idea/
*.iml
.classpath
.project
.settings/
.springBeans
.sts4-cache

############################
# FRONTEND (ANGULAR)
############################

node_modules/
dist/
build/
tmp/
out-tsc/
.angular/cache/

# Logs
npm-debug.log
yarn-error.log

############################
# VS CODE
############################

.vscode/
.history/

############################
# GENERAL SYSTEM
############################

.DS_Store
Thumbs.db
